<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<title>@ViewBag.Title - Modelos y simulación</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>




    <script type="text/javascript">
        function goBack() {
            window.history.back()
        }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Inventario", "Ingreso", "Inventario")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                  
                </ul>
            </div>
        </div>
    </div>5
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-xs-6"><p>&copy; @DateTime.Now.Year - Modelos y simulación</p></div>
                <div class="col-xs-6"><p><a href="mailto:chen.te.92@hotmail.com">Zambrano Navarrete Vicente Eduardo</a></p></div>
            </div>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
